<h3> Chats </h3>

<div>
  <%= turbo_stream_from 'rooms' %>
  <%= turbo_frame_tag 'rooms' do%>
    <%= render @rooms %>
  <% end %>
</div>


<%= turbo_frame_tag id="new_room", src:new_room_path %>

<%= turbo_frame_tag id='room' %>
