.main-content
  .left-panel-box
    = turbo_frame_tag id="new_room", src:new_room_path
    = turbo_stream_from 'rooms'
    %ul.ul-rooms
      = turbo_frame_tag 'rooms' do
        = render @rooms

  = turbo_frame_tag id='room'