<h3> Rooms</h3>
<%= form_with scope: :room, url: rooms_path, method: 'post' do |f|  %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.submit 'Create' %>
<% end %>

<%= turbo_stream_from 'rooms' %>
<%= turbo_frame_tag 'rooms' do%>
  <%= render @rooms %>
<% end %>
