
  <%= form_with scope: :message, url: messages_path, method: 'post' do |f| %>
    <%= f.label :message%>
    <%= f.text_field :text%>
    <%= f.hidden_field :room_id, value: @room.id%>
    <%= f.submit 'Send' %>
  <% end %>



<%= turbo_frame_tag id='room' do %>
<div class="sm:ml-64">
  <div class="flex flex-col items-center p-4 border-2 border-gray-200 border-dashed h-screen">
    <div class="overflow-auto overflow-x-hidden h-full w-6/12 bg-gray-100 mt-2 mb-2.5 rounded-lg">
      <%= turbo_stream_from 'messages' %>
      <%= turbo_frame_tag 'messages' do %><%= render partial: 'messages/message', collection: @messages %>
      <% end %>
    </div>
    <div class="bg-gray-300 w-6/12 p-2 rounded-lg">
      <%= form_with scope: :message, url: messages_path, method: 'post' do |f| %>
        <%= f.text_field :text, placeholder: 'Type your message...', size: '44' , class: 'rounded-lg'%>
        <%= f.hidden_field :room_id, value: @room.id%>
        <%= f.submit 'Send', class: 'hover:bg-gray-100 p-2 rounded-lg' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>