<h3> Room <%= @room.name %></h3>

<%= turbo_stream_from 'messages' %>
<%= turbo_frame_tag 'messages' do%>
  <%= render partial: 'messages/message', collection: @messages %>
<% end %>

<%= form_with scope: :message, url: messages_path do |f| %>
  <%= f.label :message %>
  <%= f.text_field :text %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit 'Send' %>
<% end %>