<!DOCTYPE html>
<html>
  <head>
    <title>HotwireChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="overflow-hidden">
  <%= turbo_frame_tag id='flash' %>
  <%= turbo_stream_from id='notification' %>
  <%= turbo_frame_tag id='notification'%>
  <%= yield %>
  </body>
</html>
