<!DOCTYPE html>
<html>
  <head>
    <title>HotwireChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="flex min-h-screen max-h-screen">
    <main class="w-full">
      <%= render partial: "layouts/flash" %>
      <%= render partial: "layouts/header"%>
      <div class="absolute right-96 top-4">
        <%= turbo_stream_from id='notification' %>
        <%= turbo_frame_tag id='notification' %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
